[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
requests = "*"
transformers = "*"
ai4foia = {editable = true, path = "."}
datasets = "*"
streamlit = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "*"
